/* ***** COMMON STYLES  ***** */

*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Libre Baskerville', serif;
	color: #F4FBF6;
	background: url('../img/rohit-tandon-9wg5jCEPBsw-unsplash.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
}

#__next{
	background: hsla(135, 71%, 26%, 1);
	background: linear-gradient(to top, hsla(135, 71%, 26%, .8) 0%, hsla(201, 65%, 23%, .8) 100%) no-repeat center center fixed;
	background: -moz-linear-gradient(to top, hsla(135, 71%, 26%, .8) 0%, hsla(201, 65%, 23%, .8) 100%) no-repeat center center fixed;
	background: -webkit-linear-gradient(to top, hsla(135, 71%, 26%, .8) 0%, hsla(201, 65%, 23%, .8) 100%) no-repeat center center fixed;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#13702A", endColorstr="#14455F", GradientType=1 );
}

#main{
	background: transparent;
	margin:0;
}

section{
	margin-bottom: 20px;
}

section > h4{
	text-transform: uppercase;
	border-bottom: 1px solid #F4FBF6;
	margin: 15px 5px 15px 5px;
}

.activities-list .material-icons{
	color: #14455F;
}

a,
a:hover,
a:focus,
a:visited{
	text-decoration: none;
	text-shadow: 0 0 5px inset black;
	color: #450800;
	border-bottom: 2px solid transparent;
}

a:hover{
	border-bottom: 2px solid #450800;
}

/* ***** HEADER ***** */

#header{
	text-align: center;
	height: 100vh; min-height: 320px;
	display: flex;
	margin-bottom: 15px;
}

#header > .content{
	width: 90%;
	height: 70vh; min-height: 300px;
	display: flex;
	overflow: hidden;
	margin: auto;
	padding: 10px;
}

#identity,
#legal-notice-header{
	margin: auto;
}

#identity span,
#header img{
	border-radius: 50%;
}

h1,
h2{
	margin-top: 15px;
	margin-bottom: 10px;
}

h3 > strong:not(:last-child):after{
	content: ' | '
}

#contact-header{
	display: none;
}

/* ***** ABOUT ***** */

.about > div{
	text-align: center;
	padding: 5px;
}

.about > div > p{
	text-align: justify;
	margin: 10px auto;
}

/* ***** XP AND EDUCATION ***** */

.single-job,
.single-diploma,
.contact > div{
	margin: 30px 10px;
}

.single-job,
.single-diploma{
	border-left: 3px solid #14455F;
}

.job-title,
.diploma-name{
	font-weight: bold;
	margin: 10px 0 10px 5px;
}

.job-info,
.diploma-infos{
	margin-left: 5px;
}

.job-infos > span,
.diploma-infos > span{
	display: block;
	margin: 5px;
}

.experiences .material-icons,
.education .material-icons{
	margin-right: 5px;
	transform: translateY(4px);
}

.activities-list{
	list-style: none;
	margin: 10px;
}

.activities-list > li{
	text-align: justify;
	margin-right: 5px;
}

.activities-list > li::before{
	content: '\200B'; /* ** Compatibilité Safari. ** */
}

/* ***** SKILLS ***** */

.skills > div{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-item: stretch;
	align-content: space-around;
	margin: 30px 10px;
}

.tag{
	border-radius: 4px;
	box-shadow: 0 0 5px inset #F4FBF6;
	cursor: default;
	margin: 6px;
	padding: 5px;
}

.tag:hover{
	background: #14455F;
	box-shadow: 0 0 5px inset transparent;
}

/* ***** CONTACT SECTION ***** */

address.contact-list{
	text-align: center;
	margin: 5px;
}

.single-link{
	margin: 5px;
}

.single-link > .material-icons{
	display: block;
}

.single-link:hover > .material-icons{
	color: #450800;
}

.single-link > a{
	font-style: normal;
	text-decoration: none;
	overflow-wrap: anywhere;
	padding: 5px;
}

.single-link > a:hover{
	border-bottom: 0 solid transparent;
}

/* ***** LEGAL NOTICE ***** */

.publication > div > p,
.host > div > p,
.credits > div > p{
	text-align: justify;
	padding: 5px;
}

.entitle{
	display: block;
}

.entitle > span,
.entitle > strong{
	margin-left: 5px;
}

/* ***** FOOTER ***** */

#footer{
	font-size: .9em;
	text-align: center;
	border-top: 1px solid #eee;
	margin-top: 30px;
	padding-bottom: 10px;
}

#footer > p > span{
	display: block;
	margin: 5px 5px 0 5px;
}
